In [9]:
%reload_ext autoreload
%autoreload 2

# Optimal Portfolio

In [10]:
import pandas as pd
import sys
#sys.path.append('/home/abotello/Notebooks/')
from finfuncs import *
import warnings


warnings.filterwarnings('ignore')

In [11]:
# Optional:
#update_sp500_data()

### 1. Cluster de S&P500 tickers with respect to the data of the last 60 days

In [12]:
fin_pd , res= get_actions_opt_portfolio(10, 1e5, sigma = 0.1)

Reading data:

100%|██████████| 502/502 [00:00<00:00, 4736.21it/s]

Reading data:

100%|██████████| 502/502 [00:00<00:00, 3393.75it/s]
100%|██████████| 502/502 [00:00<00:00, 6029.91it/s]

<class 'pandas.core.series.Series'> 502 (502,) (502, 2)
<class 'pandas.core.series.Series'> 502 (502,) (502, 2)
Silhouette:  0.5076853003086893
Preparing data...

100%|██████████| 502/502 [00:00<00:00, 6752.36it/s]

8568
Evaluating correlation of combinations

100%|██████████| 8568/8568 [00:27<00:00, 306.17it/s]

Number of selected combinations: 100
Minimum correlation:  0.792952949671913
Evaluating CLA for each combination

 37%|███▋      | 37/100 [12:11<18:35, 17.70s/it]

In [7]:
fin_pd

  Ticker Number of actions Weight
0   ATVI               263   0.24
1    APD                66    0.2
2     GD               100   0.23
3   ADSK                46    0.1
4    EIX               332   0.23

In [8]:
res

  Ticker Number of actions Weight
0   ATVI                49   0.05
1    APD                27   0.08
2     GD                23   0.05
3   ADSK               350   0.78
4    EIX                68   0.05